:root {
  --branding-color: black;
  --secondary-color: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  --heading-font-family: "Dosis", sans-serif;
  --default-font-family: "Roboto", sans-serif;
  --extra-font-family: "La Belle Aurore", cursive;
}

body {
  font-family: var(--default-font-family);
}

h1 {
  font-size: 96px;
  color: var(--branding-color);
  font-family: var(--heading-font-family);
}

h2 {
  color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-size: 64px;
}

h3 {
  font-family: var(--default-font-family);
  color: var(--branding-color);
  font-size: 20px;
}

h4 {
  font-size: 50px;
  margin-bottom: 0;
}

.more {
  font-family: var(--heading-font-family);
  font-size: 20px;
}

.extra {
  font-size: 20px;
  font-family: var(--extra-font-family);
}

p {
  font-weight: normal;
  color: var(--branding-color);
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
  margin: 0 50px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.yummy {
  background: #f6f0eb;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.workintro {
  font-family: var(--extra-font-family);
  background: var(--secondary-color);
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.btn-light-outline {
  color: #6c63ff;
  border: 1px solid #6c63ff;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  padding: 120px, 60px;
  margin: 30px;
}

.content-container h1 {
  font-size: 63px;
  line-height: 80px;
}

.content-container {
  padding: 50px 20px;
  text-align: center;
}

.condense {
  padding: 50px 70px 30px 70px;
}

.content {
  margin: 50px;
}

.content h3 {
  font-size: 40px;
  font-weight: bold;
  font-family: var(--heading-font-family);
  line-height: 1.5;
  margin: 20px 0 0;
}

content p {
  font-size: 14px;
}

.logo {
  max-width: 150px;
  max-height: 42px;
}

nav {
  padding: 20px 0;
  margin: 0;
}
nav ul {
  color: var(--branding-color);
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin: 0;
  line-height: 50px;
  margin-left: 10px;
}

nav a {
  text-decoration: none;
  color: var(--branding-color);
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: #ef6036;
}

footer {
  margin: 30px 0;
}

footer .contact-box {
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  border-radius: 10px;
  margin: 200px 100px 20px 100px;
  padding: 30px 60px 30px 60px;
}

footer .contact-box p {
  color: #212121;
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--branding-color);
  font-family: var(--extra-font-family);
}

footer .email-link:hover {
  color: #f0a5bc;
}

footer .social-links a:hover {
  color: #f0a5bc;
}

.floating {
  margin: 20px;
  color: var(--branding-color);
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  padding: 10px 14px;
  border-radius: 50%;
}

footer .social-links a {
  margin: 20px;
  color: var(--branding-color);
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
}

.hulk {
  background: var(--secondary-color);
  text-align: center;
  padding: 100px 20px;
  margin: 25px 100px;
}

.hulk .social-links a:hover {
  color: #f0a5bc;
}

.hulk .social-links a {
  margin: 20px;
  color: var(--branding-color);
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 25px;
}

.last {
  font-style: italic;
}

@media (max-width: 960px) {
  h1 {
    font-size: 50px;
    line-height: 1;
  }
  h2 {
    font-size: 42px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .floating {
    margin: 0;
  }

  nav li {
    line-height: 30px;
  }

  .last {
    display: none;
  }
}
